{{#if userInSession}}
<h2>Welcome, {{userInSession.username}}</h2>
<p>This is your profile!</p>
<button>
    <a href="/userprofile">Reload the page</a>
            <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
        </form>

         <a href="/userprofile">Profile</a>
</button>
{{else}}
<br> <!-- stands for a new line break -->
<p>Still no logged in user</p>
{{/if}}