     <html>
<head>
    <title>Beaches</title>
</head>
     <body>
     {{#each results}}
            Name: {{this.name}}
            Rating: {{this.rating}}
            
        {{/each}}
        </body>
        </html>