<!-- beaches.hbs -->
<html>
<head>
    <title>Beaches</title>
</head>
<body>
    <h1>List of Beaches</h1>
    <ul>
        {{#each results}}
            <li>
                <a href="/beaches/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
</body>
</html>
